@charset "utf-8";
/* 도깨비 PJ 미디어쿼리 CSS - media.css */

/* 1200px 이하 */
@media screen and (max-width:1200px) {
    /* 탑메뉴 가로 크기 화면 맞춤 */
    .tmenu {
        width: 100%;
    }
}
/* 1070px 이하 */
@media screen and (max-width:1070px) {
    /* 탑메뉴 가로 크기 화면 맞춤 */
    html {
        font-size: 8px;
    }
    .gnb {
        width: 495px;
        margin-top: 34px;
    }
    .blink ul {
        max-width:680px;
    }
    .brand {
        display: none;
    }

    /* 캐릭터 박스 한줄에 2개씩 */
    .cat {
        width: 49%;
    }
    /* 캐릭터 부모 박스 */
    .cbx  {
        margin-top: 100px;
    }
    /* 캐릭터 오버시 이미지박스 */
    .cat:hover .ci {
        margin-top: 0;
    }
    /* 캐릭터 오버시 설명 위로 */
    .cat:hover {
        z-index: 1;
    }
    /* 설명박스 타이틀 */
    .cd h3 {
        font-size: 3vw;
    }
    /* 설명박스 p요소 */
    .cd p {
        font-size: 2vw;
    }
}
/* 870px 이하 */
@media screen and (max-width:870px) {
    /* 없어질 요소들 */
    .tmenu, .gnb, .blink, .smenu, .gnb>ul>li.sm::after, .gnb>ul>li>a::after {
        display: none;
    }
    /* 보여질 요소 */
    .ham {
        display: block;
    }

    .top.on .logo {
        position: fixed;
        width: 100vw;
        text-align: center;
        z-index: 9999;
    }
    .top.on .ham {
        position: fixed;
        z-index: 99999;
        color: #fff;
    }
    /* 햄버거 가상요소 모양 변경 */
    .top.on .ham::before {
        content: '×';
        transform: scale(1.5);
    }
    .top.on .gnb {
        display:block;
    }
    .top.on .tmenu {
        position: fixed;
        top: auto;
        bottom: 5vh;
        width: auto;
        z-index: 99999;
        display: block;
    }
    .top.on .tmenu a {
        color:#fff;
        font-size: 3vh;
    }
    .top.on .tmenu li {
        float:none;
    }
    .top.on .tmenu ul, .top.on .tmenu ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .top.on .tmenu ul>li {
        width: 50%;
        padding-bottom: 15px;
        box-sizing: border-box;
    }
    .top.on .tmenu>ul>li:first-child {
        text-align: right;
    }

    /* 상단 영역 높이 */
    .top {
        height: 80px;
    }
    /* GNB 메뉴 모바일형으로 변경하기 */
    .gnb {
        position: fixed;
        z-index:999;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.459);
        margin: 0;
    }
    .gnb>ul {
        padding-top: 20vh;
    }
    .gnb>ul>li {
        float: none;
        /* outline:2px dashed yellow; */
    }
    .gnb>ul>li>a {
        color:#fff;
        font-size: 5vh;
        text-align: center;
        line-height: 10vh;
    }

    /* 캐릭터 부모박스 */
    .cbx {
        margin-top: 20px;
    }
    /* 캐릭터박스 한 줄에 하나씩 */
    .cat {
        width: 99%;
    }
    /* 설명박스 자리차지하는 포지션으로 */
    .cd {
        position: static;
    }
    /* 설명박스 타이틀 */
    .cd h3 {
        font-size: 4vw;
    }
    /* 설명박스 p요소 */
    .cd p {
        font-size: 3vw;
    }
    /* 하단 영역 */
    .info {
        height: auto;
        padding-bottom: 20px;
    }
}