@charset "utf-8";
/* 로그인 페이지 미디어쿼리 CSS - media_login.css */

/* 750px 이하 */
@media screen and (max-width:750px) {
    .cont {
        padding: 0 15px;
    }
    /* 로그인 버튼 */
    .btnbx {
        position: static;
        padding-top: 25px;
    }
    /* + 로그인 버튼 */
    #sbtn {
        width:100%;
        height:49px;
    }
    /* 라벨 공통 */
    .minput label {
        display: block;
        width: auto;
    }
    /* 입력박스 */
    .minput input {
        width: 100%;
    }
    .addbx span:nth-child(3) {
        padding-right: 11px;
    }
    .addbx span:nth-child(3)::before {
        content: '';
        display:block;
        margin-right: 10px;
    }
}