@charset "utf-8";
/* CGV PJ 인트로 페이지 CSS - intro.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 공사중 */
/* body * {outline: 1px dotted lime;} */

/* 전체 페이지 보이는 화면기준 */
html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* 비디오 요소 */
#myvid {
    width: 100%;
    height: 100%;
    /* img, video 요소에 사용하는 맞춤 속성 */
    object-fit: cover;
    filter: brightness(50%);
    /* 오버레이효과 - 어둡게 처리 */
    /* 트랜스페런트효과 - 밝게 처리 */
}

/* 들어가기 버튼 박스 */
#enter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* outline: 4px dotted lime; */
}
#enter span {
    display: block;
    text-align: center;
    font-size: 3.4rem;
    font-family: 'Audiowide', cursive;
    transition: all .4s ease-out;
    color: #fff;
}
/* 오버시 글자박스 */
#enter:hover span {
    transform:scale(2);
    color: chartreuse;
    transition-delay: .2s;
}
#enter img {
    transition: all .4s ease-out;
}
#enter:hover img {
    transform: rotate(-15deg) scale(1.5);
}