@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 공사중 */
/* body * {outline: 1px dotted lime;} */

/* 전체 배경색 */
body {
    background-color: #000;
}

/* 상단영역 */
.top {
    z-index: 9999;
    position: relative;
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
}
/* 로고 */
.tit  {
    font-family: 'Jua', sans-serif;
    color: aquamarine;
    font-size: 4rem;
    text-align: center;
    line-height: 80px;
    text-shadow: 0 0 4px aquamarine;
    animation: titAni .5s ease-in infinite alternate;
}
/* 타이틀 글로우 효과 애니메이션 */
@keyframes titAni {
    0% {
        text-shadow: 0 0 12px aquamarine;
    }
}

/* GNB */
.gnb {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
/* 내비 ul */
.gnb ul {
    display: flex;
    font-family: 'Jua', sans-serif;
}
.gnb ul>li {
    position: relative;
    font-size: 2rem;
    padding: 0 10px;
    /* 하단패딩 - 서브메뉴 아웃문제해결! */
    padding-bottom: 5px;
}
.gnb ul li a {
    color: white;
}

/* GNB 서브메뉴 */
.smenu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,5px);
    width: 140px;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;
}
.gnb ul>li:hover .smenu {
    display: block;
}
/* 가상요소로 삼각형 만들기 */
.smenu::before {
    content: '';
    display: block;
    position: absolute;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 10px solid #353535;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.smenu ol {
    border: 1px solid #ccc;
    padding: 10px;
}
.smenu li {
    font-size: 1.6rem;
    line-height: 2;
}
.smenu a {
    display: block;
}
.smenu a:hover {
    color:red;
}
/* 서브메뉴 오버시 이모지(윈+;) 가상요소로 넣기 */
.gnb ul>li:nth-child(1) .smenu a:hover::after {
    content: '😍';
    float:right;
}
.gnb ul>li:nth-child(2) .smenu a:hover::after {
    content: '🎬';
    float:right;
}
.gnb ul>li:nth-child(3) .smenu a:hover::after {
    content: '📢';
    float:right;
}
.gnb ul>li:nth-child(4) .smenu a:hover::after {
    content: '🎁';
    float:right;
}
/* 서브메뉴 중 li 보더 상단 class */
.bdt {
    border-top: 1px solid #ccc;
}

/* 영사기 박스 */
#cam {
    position: absolute;
    right:-60px;
    bottom: -10px;
}
/* 영사기 이미지 */
#cam img {
    width: 50px;
    transform: rotate(25deg);
    transition: .5s ease-out .3s;
}
/* .gnb에 마우스 오버시 영사기이미지 회전 */
.gnb:hover #cam img {
    transform: rotate(0deg);
    transition-delay: 0s;
}
/* 빔 박스 */
.beam {
    position: absolute;
    z-index: -1;
    top:-16px;
    right:12px;
    width: 0px;
    height: 70px;
    background: url(../images/bim.png) no-repeat;
    background-position: right center;
    background-size: auto 100%;
    transition: .3s ease-out;
}
/* .gnb에 마우스 오버시 빔박스 width 늘리기 */
.gnb:hover #cam .beam {
    width: 200px;
    transition-delay: .5s;
}

/* 메인영역 */
.cont {
    position: relative;
    /* 비율유지를 위해 높이값 제거 */
    /* height: 788px; */
    background: url(../images/bg.jpg) no-repeat center/100%;
}
/* 비율유지 가상요소 패딩주기 */
.cont::before {
    content: '';
    display: block;
    padding-top: 65.66%;
    /* 
        배경이미지와 같은 비율 계산 
        1200:788=100:x -> x는 65.66%
    */

}

/* 스크린 박스 */
#screen {
    position: absolute;
    top: 17.1%;
    left: 21.3%;
    width: 58.6%;
    height: 50.6%;
    background-color: #000;
}
/* 유튜브 아이프레임 */
#screen iframe {
    width: 100%;
    height: 100%;
    border:none;
}

/* 예고편 선택메뉴 */
.mlist {
    position: absolute;
    width: 54%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7%;
}

/* 선택메뉴 ul */
.mlist ul {
    display: flex;
    justify-content: center;
    perspective: 480px;
}
/* 상위 li */
.mlist ul>li {
    /* 플렉스 아이템 등분할 설정 - 중요! */
    flex: 1;
    position: relative;
    overflow:hidden;
    transform-origin: bottom;
    transform: rotateX(40deg);
    transition: all .4s ease-out;
}

/* 상위 li에 마우스 오버시 일러남 */
/* 클래스on 적용시 같은 변경 적용 */
.mlist ul>li:hover,
.mlist ul>li.on {
    transform: rotateX(0deg);
    outline:1px solid aqua;
    z-index: 1;
}

/* 상위 li 중 1번째 요소 제외 */
.mlist>ul>li+li {
    margin-left: 10px;
}

/* 포스터 이미지 */
.mlist img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/* 영화정보박스 */
.movtxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    font-family: 'Cute Font', cursive;
    font-size: min(1.3vw, 14px);
    color:#fff;
    text-align: center;
    line-height: 2;
    transition: top .3s ease-out;
}
/* 상위 li에 마우스 오버시 영화정보 올라오기 */
.mlist ul>li:hover .movtxt {
    top:0;
}

/* 영화제목만 변경 */
.movtxt li:first-child {
    color:aqua;
    font-size: min(1.5vw, 17px);
    letter-spacing: -1px;
}

/* 하단영역 */
.info {
    display: flex;
    min-height: 100px;
    align-items: center;
}

/* 하단로고 */
.info>div:first-child {
    margin-right: 20px;
}
/* 회사주소 */
.info address {
    color: #ccc;
    font-style: normal;
    font-family: 'Cute Font', cursive;
    font-size: 1.8rem;
    line-height: 2rem;
}
/* SNS박스 */
.info>div:last-child {
    margin-left: auto;
}
.sns {
    display: flex;
}
.sns li {
    width: 34px;
    height: 34px;
}

/* sns a요소 확장 */
.sns a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    line-height: 34px;
    color: #fff;
}

/* sns a요소 오버시 */
/* 끝나는 */
.sns a[class$=facebook]:hover {
    color: lightskyblue;
}
/* 포함하는 */
.sns a[class*=tw]:hover {
    color: lightcoral;
}
/* 시작하는 */
.sns a[class^="fa-brands fa-square-in"]:hover {
    color: lightgreen;
}