@charset "utf-8";
/* 도깨비 프로젝트 메인 페이지 CSS - main.css */
/* 메인 페이지에만 적용되는 CSS */

/* 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed gray;
}
body {
    background: 
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
}

/* main */
.cont {
    min-height: 969px;
    overflow:hidden;
}

/* 전체 캐릭터 박스 */
.cbx {
    width:90%;
    margin:0 auto;
    margin-top: 500px;
    margin-bottom: 100px;
}

/* clearfix */
.clearfix::after {
    content: '';
    display:block;
    clear:both;
}

/* 캐릭터 이미지 */
.cat {
    float: left;
    width: 24%;
    margin: 0 .5%;
}
.ci > img {
    width: 100%;
}

/* 캐릭터 이름 박스 */
.ci figcaption {
    text-align: center;
    margin-top: -20%; /* % 기준은 부모 박스 너비 */
}

/* 캐릭터 이름 이미지 공통 */
.ci figcaption img {
    width: 50%; /* % 기준은 부모 박스 너비 */
}

/* 캐릭터 이름 이미지 */
.ci figcaption img:first-child {
    display:none;
}

/* 캐릭터 이미지 박스에 마우스 오버시 */
.cat:hover .ci figcaption img:first-child {
    display:inline;
}
.cat:hover .ci figcaption img:last-child {
    display:none;
}

/* 캐릭터 설명 박스 */
.cd {
    height: 250px;
    overflow: auto;
    margin-top: 15px;
    background: url(../images/eachBG.jpg) no-repeat center/cover;
}

/* 캐릭터 설명 타이틀 */
.cd h3 {
    font-family: 'Gugi', cursive;
    font-size: 24px;
    font-weight: normal;
    padding: 15px 10px 5px;
    letter-spacing: -1px;
}

/* 캐릭터 설명 문단 */
.cd p {
    font-family: 'Single Day','ZCOOL KuaiLe', cursive;
    font-size: 18px;
    line-height: 1.6;
    padding: 10px;
    text-align: justify;
    /* word-break: break-all; -> 영문자일 경우 사용 */
}